<a href="https://colab.research.google.com/github/pdm03/pdm03/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
2021-09-29  1.252204  0.615351 -0.569585  1.125658
2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
2021-10-01  0.969942  0.585260 -1.168469 -1.180179
2021-10-02  0.222842  1.719158  0.807445 -0.339916

In [5]:
df.head(2)

                   A         B         C         D
2021-09-27 -0.824404  0.604829 -1.023612  1.029610
2021-09-28  0.278146  2.279597  1.380298 -1.165324

In [6]:
df.tail(3)

                   A         B         C         D
2021-09-30 -0.149564 -2.308846  0.360295 -1.221297
2021-10-01  0.813818  0.577745 -1.545208 -0.076162
2021-10-02  0.224909 -0.735574 -0.019803  0.124040

In [8]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.474861  0.727055  0.075872 -0.684397
std    1.000865  0.820615  0.952958  1.283626
min   -1.154704 -0.688718 -1.168469 -2.206528
25%    0.046240  0.592783 -0.553859 -1.658864
50%    0.596392  0.719819  0.067342 -0.760048
75%    1.181638  1.186314  0.765924  0.149776
max    1.571513  1.719158  1.251159  1.125658

In [12]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0  0.474861  1.000865 -1.154704  0.046240  0.596392  1.181638  1.571513
B    6.0  0.727055  0.820615 -0.688718  0.592783  0.719819  1.186314  1.719158
C    6.0  0.075872  0.952958 -1.168469 -0.553859  0.067342  0.765924  1.251159
D    6.0 -0.684397  1.283626 -2.206528 -1.658864 -0.760048  0.149776  1.125658

In [13]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A    1.571513   -1.154704    1.252204   -0.012628    0.969942    0.222842
B    0.824288    1.306989    0.615351   -0.688718    0.585260    1.719158
C    1.251159   -0.506679   -0.569585    0.641363   -1.168469    0.807445
D    0.313007   -2.206528    1.125658   -1.818425   -1.180179   -0.339916

In [14]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [16]:
df

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
2021-09-29  1.252204  0.615351 -0.569585  1.125658
2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
2021-10-01  0.969942  0.585260 -1.168469 -1.180179
2021-10-02  0.222842  1.719158  0.807445 -0.339916

In [17]:
# Sorting by an axis:
df, df.sort_index(axis=0) #, ascending=False)

(                   A         B         C         D
 2021-09-27  1.571513  0.824288  1.251159  0.313007
 2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
 2021-09-29  1.252204  0.615351 -0.569585  1.125658
 2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
 2021-10-01  0.969942  0.585260 -1.168469 -1.180179
 2021-10-02  0.222842  1.719158  0.807445 -0.339916,
                    A         B         C         D
 2021-09-27  1.571513  0.824288  1.251159  0.313007
 2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
 2021-09-29  1.252204  0.615351 -0.569585  1.125658
 2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
 2021-10-01  0.969942  0.585260 -1.168469 -1.180179
 2021-10-02  0.222842  1.719158  0.807445 -0.339916)

In [18]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27  1.571513  0.824288  1.251159  0.313007
 2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
 2021-09-29  1.252204  0.615351 -0.569585  1.125658
 2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
 2021-10-01  0.969942  0.585260 -1.168469 -1.180179
 2021-10-02  0.222842  1.719158  0.807445 -0.339916,
                    D         C         B         A
 2021-09-27  0.313007  1.251159  0.824288  1.571513
 2021-09-28 -2.206528 -0.506679  1.306989 -1.154704
 2021-09-29  1.125658 -0.569585  0.615351  1.252204
 2021-09-30 -1.818425  0.641363 -0.688718 -0.012628
 2021-10-01 -1.180179 -1.168469  0.585260  0.969942
 2021-10-02 -0.339916  0.807445  1.719158  0.222842)

#### Sort by value
- sort_values(by='column')

In [19]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27  1.571513  0.824288  1.251159  0.313007
 2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
 2021-09-29  1.252204  0.615351 -0.569585  1.125658
 2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
 2021-10-01  0.969942  0.585260 -1.168469 -1.180179
 2021-10-02  0.222842  1.719158  0.807445 -0.339916,
                    A         B         C         D
 2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
 2021-10-01  0.969942  0.585260 -1.168469 -1.180179
 2021-09-29  1.252204  0.615351 -0.569585  1.125658
 2021-09-27  1.571513  0.824288  1.251159  0.313007
 2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
 2021-10-02  0.222842  1.719158  0.807445 -0.339916)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [20]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27    1.571513
2021-09-28   -1.154704
2021-09-29    1.252204
2021-09-30   -0.012628
2021-10-01    0.969942
2021-10-02    0.222842
Freq: D, Name: A, dtype: float64

In [21]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
2021-09-29  1.252204  0.615351 -0.569585  1.125658

In [24]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
2021-09-29  1.252204  0.615351 -0.569585  1.125658
2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
2021-10-01  0.969942  0.585260 -1.168469 -1.180179

#### Selecting data by label [중요!!]

> **loc, iloc**

In [23]:
df

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
2021-09-29  1.252204  0.615351 -0.569585  1.125658
2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
2021-10-01  0.969942  0.585260 -1.168469 -1.180179
2021-10-02  0.222842  1.719158  0.807445 -0.339916

In [25]:
df.loc[dates[0]]   # loc()

A    1.571513
B    0.824288
C    1.251159
D    0.313007
Name: 2021-09-27 00:00:00, dtype: float64

In [26]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27  1.571513  0.824288
2021-09-28 -1.154704  1.306989
2021-09-29  1.252204  0.615351
2021-09-30 -0.012628 -0.688718
2021-10-01  0.969942  0.585260
2021-10-02  0.222842  1.719158

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [31]:
# df.loc[0:2,['C','D']]
# df.loc['20210927':'20210930',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27  1.251159  0.313007
2021-09-28 -0.506679 -2.206528

#### Selecting data by position (iloc())
- index 사용

In [32]:
df

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
2021-09-29  1.252204  0.615351 -0.569585  1.125658
2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
2021-10-01  0.969942  0.585260 -1.168469 -1.180179
2021-10-02  0.222842  1.719158  0.807445 -0.339916

In [33]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -0.012628
B   -0.688718
C    0.641363
D   -1.818425
Name: 2021-09-30 00:00:00, dtype: float64

In [34]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27  1.251159  0.313007
2021-09-28 -0.506679 -2.206528

In [35]:
# Select one item
df.iloc[1,1]

1.306988897443248

In [38]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
2021-09-29  1.252204  0.615351 -0.569585  1.125658

#### Selecting data by Boolean indexing

In [43]:
df

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28 -1.154704  1.306989 -0.506679 -2.206528
2021-09-29  1.252204  0.615351 -0.569585  1.125658
2021-09-30 -0.012628 -0.688718  0.641363 -1.818425
2021-10-01  0.969942  0.585260 -1.168469 -1.180179
2021-10-02  0.222842  1.719158  0.807445 -0.339916

In [44]:
df > 0

                A      B      C      D
2021-09-27   True   True   True   True
2021-09-28  False   True  False  False
2021-09-29   True   True  False   True
2021-09-30  False  False   True  False
2021-10-01   True   True  False  False
2021-10-02   True   True   True  False

In [45]:
df[df.A > 0]

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-29  1.252204  0.615351 -0.569585  1.125658
2021-10-01  0.969942  0.585260 -1.168469 -1.180179
2021-10-02  0.222842  1.719158  0.807445 -0.339916

In [46]:
df[df > 0]

                   A         B         C         D
2021-09-27  1.571513  0.824288  1.251159  0.313007
2021-09-28       NaN  1.306989       NaN       NaN
2021-09-29  1.252204  0.615351       NaN  1.125658
2021-09-30       NaN       NaN  0.641363       NaN
2021-10-01  0.969942  0.585260       NaN       NaN
2021-10-02  0.222842  1.719158  0.807445       NaN