<a href="https://colab.research.google.com/github/pdm03/pdm03/blob/main/py-pandas/pandas_3_harnessing_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# dataframe
np.random.seed(1234)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-09-27  0.471435 -1.190976  1.432707 -0.312652
2021-09-28 -0.720589  0.887163  0.859588 -0.636524
2021-09-29  0.015696 -2.242685  1.150036  0.991946
2021-09-30  0.953324 -2.021255 -0.334077  0.002118
2021-10-01  0.405453  0.289092  1.321158 -1.546906
2021-10-02 -0.202646 -0.655969  0.193421  0.553439



---

### 데이터 재구성(setting) 또는 확장

In [5]:
# Setting a new column automatically aligns the data by the indexes.
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20210927', periods=6))
s1

2021-09-27    1
2021-09-28    2
2021-09-29    3
2021-09-30    4
2021-10-01    5
2021-10-02    6
Freq: D, dtype: int64

In [7]:
df['F'] = s1

In [8]:
df  # 기존 df의 구조에 맞춰서 확장, 재구성됨.

                   A         B         C         D  F
2021-09-27  0.471435 -1.190976  1.432707 -0.312652  1
2021-09-28 -0.720589  0.887163  0.859588 -0.636524  2
2021-09-29  0.015696 -2.242685  1.150036  0.991946  3
2021-09-30  0.953324 -2.021255 -0.334077  0.002118  4
2021-10-01  0.405453  0.289092  1.321158 -1.546906  5
2021-10-02 -0.202646 -0.655969  0.193421  0.553439  6

#### Setting data by label & its index

> **at, iat**

- at : label을 이용하여 값 지정
- iat: index를 이용하여 값 지정

In [10]:
type(dates[0])

pandas._libs.tslibs.timestamps.Timestamp

In [11]:
# Setting values by label:
df.at[dates[0],'A'] = 0
df

                   A         B         C         D  F
2021-09-27  0.000000 -1.190976  1.432707 -0.312652  1
2021-09-28 -0.720589  0.887163  0.859588 -0.636524  2
2021-09-29  0.015696 -2.242685  1.150036  0.991946  3
2021-09-30  0.953324 -2.021255 -0.334077  0.002118  4
2021-10-01  0.405453  0.289092  1.321158 -1.546906  5
2021-10-02 -0.202646 -0.655969  0.193421  0.553439  6

In [12]:
# Setting values by position (index):
df.iat[0,1] = 0
df

                   A         B         C         D  F
2021-09-27  0.000000  0.000000  1.432707 -0.312652  1
2021-09-28 -0.720589  0.887163  0.859588 -0.636524  2
2021-09-29  0.015696 -2.242685  1.150036  0.991946  3
2021-09-30  0.953324 -2.021255 -0.334077  0.002118  4
2021-10-01  0.405453  0.289092  1.321158 -1.546906  5
2021-10-02 -0.202646 -0.655969  0.193421  0.553439  6

In [13]:
# Important properties of DataFrame
len(df), df.shape, df.size

(6, (6, 5), 30)

In [14]:
# Setting by assigning with a NumPy array:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D  F
2021-09-27  0.000000  0.000000  1.432707  5  1
2021-09-28 -0.720589  0.887163  0.859588  5  2
2021-09-29  0.015696 -2.242685  1.150036  5  3
2021-09-30  0.953324 -2.021255 -0.334077  5  4
2021-10-01  0.405453  0.289092  1.321158  5  5
2021-10-02 -0.202646 -0.655969  0.193421  5  6

### Missing data 처리
> pandas primarily uses the value **np.nan** to represent missing data. 
- dropna()
- fillna()
- isna()

In [ ]:
df

In [ ]:
df.columns

In [ ]:
# Reindexing allows you to change/add/delete the index on a specified axis.
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1
df1

In [ ]:
df1.info()

### Check 0 or NaN in dataframe
- df.isnull().sum()
- df.isna().sum()

In [ ]:
df1.isnull().sum()

In [ ]:
df1.isna().sum()

## Drop missing data from DataFrame

In [ ]:
# To drop any rows that have missing data.
df1.dropna(how='any')

In [ ]:
# Filling missing data.
df1.fillna(value=5)

In [ ]:
# Get the boolean mask where values are nan.
pd.isna(df1)



---

### 데이터 통계 (Statistics)

In [ ]:
df

In [ ]:
df.mean()

In [ ]:
df.mean(0)

In [ ]:
df.mean(1)

In [ ]:
df.std(0) #, df.std(1)

#### [DIY: 도전] 데이터프레임 df의 평균(mean(0))과 표준편차를 이용한 그래프
- 평균에 대한 꺽은선그래프
- 평균과 표준편차를 이용한 막대그래프
> x-축은 A,B,C,D,E

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
# 노트북 셀 내에 그림 출력 (Jupyter notebook or lab)
# %matplotlib inline

In [ ]:
# 막대그래프(bar graph)를 그린다.
means = [1, 2, 3]
stddevs = [0.2, 0.4, 0.5]
bar_labels = ['bar 1', 'bar 2', 'bar 3']

# plot bars
x_pos = list(range(len(bar_labels)))
plt.bar(x_pos, means, yerr=stddevs)

plt.show()

In [ ]:
plt.plot(df.mean(0), '-o', ms=8)

In [ ]:
# df의 평균(mean(0))과 표준편차를 이용한 막대그래프
bar_labels = df.columns
# plot bars
plt.bar(bar_labels, df.mean(0), yerr=df.std(0)) #, color='rgbcy')

In [ ]:
df

In [ ]:
# [DIY] df의 날짜별 평균(mean(1))과 표준편차를 이용한 막대그래프
# Your code
# plt.plot(df.mean(1), '-o', ms=8)
# plt.bar(bar_labels,df.mean(1), yerr=df.std(1)) #, color='rgbcy')

---